/node_modules
/.shadow-cljs/
/.expo/
/app/
/.cpcache/
/out/
*.DS_Store
/.clj-kondo/.cache/
/android/
/ios
plugins/android-audiotrack/jniLibs/
plugins/java-tests/build/
plugins/java-tests/.gradle/
plugins/java-tests/local.properties
plugins/java-tests/.classpath
plugins/java-tests/.project
plugins/java-tests/.settings/
