{:deps  {dev.weavejester/cljfmt {:mvn/version "0.16.4"}}
 :tasks {check-format {:doc "Check Clojure formatting"
                       :requires ([cljfmt.tool :as fmt])
                       :task (fmt/check {:paths ["src/main"]})}
         fix-format   {:doc "Fix Clojure formatting"
                       :requires ([cljfmt.tool :as fmt])
                       :task (fmt/fix {:paths ["src/main"]})}}}
