{:paths ["src/main" "src/test"]

 :deps  {org.clojure/clojure        {:mvn/version "1.12.5"}
         org.clojure/clojurescript  {:mvn/version "1.12.145"}

         ;; React and Re-frame
         reagent/reagent            {:mvn/version "2.0.1"}
          re-frame/re-frame          {:mvn/version "1.4.7"}}

 :aliases
  {:dev        {:extra-deps {thheller/shadow-cljs {:mvn/version "3.4.11"}
                                    nrepl/nrepl          {:mvn/version "1.7.0"}
                                     cider/cider-nrepl    {:mvn/version "0.62.1"}}}

  ;; Shadow-cljs build
  :shadow     {:main-opts ["-m" "shadow.cljs.devtools.cli"]}
}}